{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "config": "@fingerprintjs/conventional-changelog-dx-team",
        "releaseRules": "@fingerprintjs/conventional-changelog-dx-team/release-rules"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "config": "@fingerprintjs/conventional-changelog-dx-team",
      }
    ],
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./generate.sh -v \"${nextRelease.version}\""
      }
    ],
    "semantic-release-pypi",
    [
      "@semantic-release/git",
      {
        "assets": [
          "generate.sh",
          "CHANGELOG.md",
          "README.md",
          "setup.py",
          "fingerprint_pro_server_api_sdk/configuration.py",
          "fingerprint_pro_server_api_sdk/api_client.py",
          "fingerprint_pro_server_api_sdk/api/fingerprint_api.py",
          "test/test_fingerprint_api.py"
        ]
      }
    ],
    "@semantic-release/github"
  ]
}
